<h1>Start Job</h1>

<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js">

</script>
<iframe class="airtable-embed airtable-dynamic-height" src="<%= @timesheet_form_url %>" frameborder="0" onmousewheel="" width="100%" height="747" style="background: transparent; border: 1px solid #ccc;">
</iframe>